---
layout: default
permalink: /projects/
---
<div class='parent'>
    <div class="magicpattern"></div>
</div>
<div class="container page">
    <div class="col-12 mb-4">
        <h2>{% t projects.title %}</h2>
    </div>
    <button id="clear-filter" class="btn btn-sm btn-primary float-end" style="display: none;">{% t clear-filter %}</button>
    <div class="row projects mb-6">
        {% for project in site.data.projects %}
        <div class="col-lg-4 col-sm-12 project" data-techs="{{project.technologies | join: ';'}}">
            <div class="card bg-light mt-4">
                <div class="card-body">
                    <h5 class="card-title">{{project.title}}</h5>
                    <p class="card-text">{{project.description[site.lang]}}</p>
                    <div class="technologies">
                        {% for tech in project.technologies %}
                        <a href="#" class="badge badge-orange text-light" style="text-decoration: none;" data-tech="{{tech}}">{{tech}}</a>
                        {% endfor %}
                    </div>
                </div>
                <div class="card-footer">
                    {% if project.github %}
                    <a href="{{project.github}}" target="_blank"><i class="fab fa-github"></i></a>
                    {% endif %}
                    {% if project.link %}
                    <a href="{{project.link}}" target="_blank"><i class="fa-solid fa-link"></i></a>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<script>
    var badges = document.querySelectorAll('a.badge');
    var projects = document.querySelectorAll('.project');

    badges.forEach(function (badge) {
        badge.addEventListener('click', function () {
            var tech = this.getAttribute('data-tech');

            projects.forEach(function (project) {
                var techs = project.getAttribute('data-techs').split(';');
                console.log(techs)

                if (techs.includes(tech)) {
                    project.style.display = 'block';
                } else {
                    project.style.display = 'none';
                }

                document.querySelector('#clear-filter').style.display = 'block';

            });
        });
    });

    var clearFilterButton = document.getElementById('clear-filter');

    clearFilterButton.addEventListener('click', function () {
        projects.forEach(function (project) {
            project.style.display = 'block';
        });
        document.querySelector('#clear-filter').style.display = 'none';
    });
</script>
