---
layout: default
permalink: /publications/
---
<div class='parent'>
    <div class="magicpattern3"></div>
</div>
<div class="container page">
    <h2>{% t header.publications %}</h2>
    <ul class="nav nav-tabs justify-content-center mt-5 mb-5" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="papers-tab" data-toggle="tab" data-target="#papers" type="button"
                role="tab" aria-controls="papers" aria-selected="true">{% t publications.papers %}</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="conference-tab" data-toggle="tab" data-target="#conference" type="button"
                role="tab" aria-controls="conference" aria-selected="false">{% t publications.conference %}</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="chapter-tab" data-toggle="tab" data-target="#chapter" type="button"
                role="tab" aria-controls="chapter" aria-selected="false">{% t publications.chapters %}</button>
        </li>
    </ul>
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade active show" id="papers" role="tabpanel" aria-labelledby="papers-tab">
            <table class="table" data-toggle="table" data-pagination="true" data-search="true">
                <thead>
                    <tr>
                        <th scope="col">{% t publications.year %}</th>
                        <th scope="col">{% t publications.title %}</th>
                        <th scope="col">{% t publications.authors %}</th>
                        <th scope="col">{% t publications.journal %}</th>
                        <th scope="col">{% t publications.doi %}</th>
                    </tr>
                </thead>
                <tbody>
                    {% assign sorted_papers = site.data.publications.papers | sort: "year" | reverse %}
                    {% for paper in sorted_papers %}
                    <tr>
                        <td>{{ paper.year }}</td>
                        <td>{{ paper.title }}</td>
                        <td>{{ paper.authors }}</td>
                        <td>{{ paper.journal }}</td>
                        <td>
                            {% if paper.doi %}
                            <a href="https://doi.org/{{ paper.doi }}"><i class="fa-solid fa-link"></i></a>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="tab-pane fade" id="conference" role="tabpanel" aria-labelledby="conference-tab">
            <table class="table" data-toggle="table" data-pagination="true" data-search="true">
                <thead>
                    <tr>
                        <th scope="col">{% t publications.year %}</th>
                        <th scope="col">{% t publications.title %}</th>
                        <th scope="col">{% t publications.authors %}</th>
                        <th scope="col">{% t publications.event %}</th>
                        <th scope="col">{% t publications.doi %}</th>
                    </tr>
                </thead>
                <tbody>
                    {% assign sorted_papers = site.data.publications.conference | sort: "year" | reverse %}
                    {% for paper in sorted_papers %}
                    <tr>
                        <td>{{ paper.year }}</td>
                        <td>{{ paper.title }}</td>
                        <td>{{ paper.authors }}</td>
                        <td>{{ paper.event }}</td>
                        <td>
                            {% if paper.doi %}
                            <a href="https://doi.org/{{ paper.doi }}"><i class="fa-solid fa-link"></i></a>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="tab-pane fade" id="chapter" role="tabpanel" aria-labelledby="chapter-tab">
            <table class="table" data-toggle="table" data-pagination="true" data-search="true">
                <thead>
                    <tr>
                        <th scope="col">{% t publications.year %}</th>
                        <th scope="col">{% t publications.title %}</th>
                        <th scope="col">{% t publications.authors %}</th>
                        <th scope="col">{% t publications.book %}</th>
                        <th scope="col">{% t publications.doi %}</th>
                    </tr>
                </thead>
                <tbody>
                    {% assign sorted_papers = site.data.publications.chapters | sort: "year" | reverse %}
                    {% for paper in sorted_papers %}
                    <tr>
                        <td>{{ paper.year }}</td>
                        <td>{{ paper.title }}</td>
                        <td>{{ paper.authors }}</td>
                        <td>{{ paper.book }}</td>
                        <td>
                            {% if paper.doi %}
                            <a href="https://doi.org/{{ paper.doi }}"><i class="fa-solid fa-link"></i></a>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>