---
layout: default
---

<!-- banner -->
{% if site.data.homepage.banner.enable %}
<section class="banner bg-cover"
  style="background-image: url('{{ site.data.homepage.banner.bg_image | prepend: site.baseurl_root }}');">
  <img src="{{ site.data.homepage.banner.image | prepend: site.baseurl_root }}" class="img-fluid illustration" alt="">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mb-5 mb-lg-0">
        <h1 class="homepage-title">{% t homepage.title %}</h1>
      </div>
    </div>
  </div>
</section>
{% endif %}
<!-- /banner -->

<!-- quote -->
<section>
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-sm-12 p-0 m-0">
        <div class="circle mx-auto d-block">
          <img src="{{ site.data.homepage.quote.profile | prepend: site.baseurl_root }}">
        </div>
      </div>
      <div class="col-lg-8 col-sm-12 text-center pb-5 pt-3">
        <div class="quote">
          <p>{% t homepage.quote %}</p>
          <br>
          <a href="{{ site.data.homepage.quote.link | prepend: site.baseurl_root }}" class="btn">{% t homepage.about %}</a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /quote -->

<!-- blog -->
{% include section-posts.html %}
<!-- /blog -->