---
layout: default
---

<!-- banner -->
{% if site.data.homepage.banner.enable %}
<section class="banner bg-cover"
  style="background-image: url('{{ site.data.homepage.banner.bg_image | prepend: site.baseurl_root }}');">
  <img src="{{ site.data.homepage.banner.image | prepend: site.baseurl_root }}" class="img-fluid illustration" alt="">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mb-5 mb-lg-0">
        <h1>{% t homepage.title %}</h1>
      </div>
      <div class="col-lg-6 illustration-mobile">
        <img src="{{ site.data.homepage.banner.image | prepend: site.baseurl_root }}" class="img-fluid" alt="">
      </div>
    </div>
  </div>
</section>
{% endif %}
<!-- /banner -->

<!-- quote -->
<section>
  <div class="container">
    <div class="row">
      <div class="col-lg-4 p-4">
        <div class="circle">
          <img src="{{ site.data.homepage.quote.profile | prepend: site.baseurl_root }}" alt="">
        </div>
      </div>
      <div class="col-lg-8 p-4 text-center">
        <div class="quote">
          <p class="mb-6">{% t homepage.quote %}</p>
          <br>
          <a href="{{ site.data.homepage.quote.link | prepend: site.baseurl_root }}" class="btn">{% t homepage.about %}</a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /quote -->

<!-- blog -->
{% include section-posts.html %}
<!-- /blog -->

<!-- call_to_action -->
{% if site.data.homepage.call_to_action.enable %}
<section class="section pt-0">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <div class="row shadow bg-white p-5">
          <div class="col-md-4 text-center text-md-left mb-4 mb-lg-0">
            <img src="{{ site.data.homepage.call_to_action.image | prepend: site.baseurl_root }}" class="mr-4 img-fluid rounded" alt=""></div>
          <div class="col-md-8 text-center text-md-left">
            <h3 class="mt-0">{{ site.data.homepage.call_to_action.title }}</h3>
            <p>{{ site.data.homepage.call_to_action.description }}</p>
            {% if site.data.homepage.call_to_action.button.enable %}
            <a href="{{ site.data.homepage.call_to_action.button.link | prepend: site.baseurl_root }}"
              class="btn btn-primary">{{ site.data.homepage.call_to_action.button.label }}</a>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endif %}
<!-- /call_to_action -->