@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700,900&display=swap');

body{
    padding: 0;
    margin:0;
    background: #34495E;
    color:white;
    font-family: 'Roboto', sans-serif;
}
#top{
    width: 100%;
    height: 40px;
    background: #2C3E50;
    text-align: center;
    font-size: 16pt;
    padding-top: 15px;
}
#top > a{
    text-decoration: none;
    color: white;
}

.active{
    font-weight: bold;
}

#container{
    margin: 0 50px 0 50px;
}

#aside{
    width: 30%;
    float:left;
    padding: 70px 30px 0 0;
}
#aside > h1, #aside > p{
    margin:0;
}

#avatar{
    height: 180px;
    width: 180px;
    background-image: url('profile.png');
    border-radius: 50% 50%;
    background-size: cover;
    margin-bottom: 20px;
}

#avatar:hover{
    background-image: url('avatar.svg');
    background-color: #c4c4c4;
}

.icons > a{
    color:white;
    font-size: 20px;
    margin-right: 10px;
}
.icons{
    margin: 15px 0 50px 0;
}
#timeline {
    float: left;
    width: 60%;
    margin-top: 70px;
    border-left: 6px solid rgb(255, 255, 255, 0.5);
}  
.content {
    padding: 0 0 40px 30px;
    position: relative;
    background-color: inherit;
    line-height: 1.3;
}
.content ul li{
    margin-bottom: 7px;
}

.content::after {
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    left: -17px;
    background-color: white;
    border: 6px solid #34495E;
    top: 0px;
    border-radius: 50%;
    z-index: 1;
}

.content a{
    color: #fff;
    text-decoration: none;
    padding-bottom: -10px;
    box-shadow: inset 0 -0.45em 0 rgba(163,218,227,0.5);
    transition: all 200ms 50ms ease;
    padding: 0.1875em 0.1875em 0.0625em;
}

.content a:hover{
    box-shadow: none;
    background: rgba(163,218,227,0.5);
}

#call-to-action{
    width: 150px;
    padding:10px;
    background: rgb(255, 255, 255, 0.2);
    margin:100px 0 50px 50px;
    display: block;
    text-align: center;
    border: 1pt solid #FFF;
    border-radius: 100px;
    text-decoration: none;
    color:#FFF;
    box-shadow: none;
}
#call-to-action:hover{
    background: rgb(255, 255, 255, 0.4);
}

.card{
    background: rgb(255, 255, 255, 0.2);
    border: 1pt solid #FFF;
    border-radius: 15px;
    width: 100px;
    min-height: 100px;
    text-decoration: none;
    color: #FFF;
    margin: 15px;
    padding: 10px;
    display: inline-block;
}
.project{
    width: 40%;
}
.project .icons{
    margin-bottom:10px;
}
.project .icons>a{
    box-shadow: none;
    float: right;
}
.project .icons>a:hover{
    background: none;
}


.tags > span{
    margin-right: 10px;
}

@media only screen and (max-width: 768px) {
    h1{
        font-size:1.5em
    }
    #aside, #timeline {
      width: 100%;
    }
    #container{
        margin: 0 20px 0 30px;
    }
    .content{
        width: 80%;
    }
    .card{
        width: 90%;
    }
  }