{{ "<!-- navigation -->" | safeHTML }}
<header class="fixed-top navigation">
  <div class="container">
    <!-- navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-transparent">
      <a class="navbar-brand" href="/">
        <span style="position: absolute; top:35px;"> {{ site.title }} </span>
        <img src="data:image/svg+xml,%3Csvg id='visual' viewBox='0 0 900 600' width='900' height='600' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1'%3E%3Cg fill-opacity=%220.5%22 transform='translate(464.54364958306627 294.2789911762982)'%3E%3Cpath d='M77.7 -154.2C89.1 -113.6 78.6 -72.4 101.7 -40.9C124.7 -9.4 181.1 12.4 207.2 50C233.2 87.6 228.8 141 203.1 182.5C177.3 224 130.2 253.5 86.8 241.7C43.3 230 3.5 176.9 -41.4 156.5C-86.2 136.2 -136.1 148.7 -179.5 135.1C-222.9 121.6 -259.9 82.2 -252.9 44.4C-245.9 6.6 -194.8 -29.5 -160.5 -60.3C-126.3 -91.1 -108.8 -116.7 -84.9 -151.6C-60.9 -186.4 -30.5 -230.7 1.4 -232.8C33.2 -234.9 66.3 -194.9 77.7 -154.2' fill='none' stroke='%23E25C32' stroke-width='6'%3E%3C/path%3E%3C/g%3E%3C/svg%3E" alt="" style="height: 100px; position: relative;">
      </a>
      <button class="navbar-toggler border-0" type="button" data-toggle="collapse" data-target="#navigation">
        <i class="ti-menu h3"></i>
      </button>

      <div class="collapse navbar-collapse text-center" id="navigation">
        <ul class="navbar-nav ml-auto">
          {% for main in site.data.parameters.menu.main %}
            {% if main.submenu %}
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
                role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {% t main.key %}
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                {% for children in main.submenu %}
                <a class="dropdown-item" href="{{children.url}}">{{children.name}}</a>
                {% endfor %}
              </div>
            </li>
            {% else %}

            <li class="nav-item">
              {% if site.lang == 'pt' %}
                <a class="nav-link" href="{{ main.url | prepend: site.baseurl_root }}">{% t main.key %}</a>
              {% else %}
                <a class="nav-link" href="{{site.baseurl_root}}/{{ site.lang }}/{{ main.url}}">{% t main.key %}</a>
              {% endif %}
            </li>
            {% endif %}
          {% endfor %}
        </ul>
        {% if site.data.parameters.search.enable %}
        <!-- search -->
        <div class="search">
          <button id="searchOpen" class="search-btn"><i class="ti-search"></i></button>
          <div class="search-wrapper">
            <form action="{{ 'search.html' | prepend: site.baseurl_root }}" class="h-100">
              <input class="search-box px-4" id="search-box" name="query" type="search" placeholder="Type & Hit Enter...">
            </form>
            <button id="searchClose" class="search-close"><i class="ti-close text-dark"></i></button>
          </div>
        </div>
        {% endif %}
      </div>
    </nav>
  </div>
</header>
{{ "<!-- /navigation -->" | safeHTML }}