<article class="mb-5">
  <h2 class="h4"><a class="post-title" href="{{ post.url | prepend: site.baseurl_root }}">{{ post.title }}</a></h2>
  <div class="mb-3 post-meta">
    {% if post.author %}
    <a href="{{ 'author/' | prepend: site.baseurl_root }}{{ post.author | slugify }}">{{ post.author | capitalize }}</a>{%endif%},
    {{ post.date | date: '%b %d, %Y' }},
    {% if post.tags.size >= 1 %}
    {% for tag in post.tags %}
    <a href="{{ 'tag/' | prepend: site.baseurl_root }}{{ tag | slugify }}">{{ tag | capitalize }}</a>
    {% endfor %}
    {% endif %}
  </div>
  <p>{% assign curlyend = '}' %}{{ post.content | markdownify | strip_html | replace: "{% include JB/setup %", "" | replace: curlyend, "" | truncatewords: 30 }}</p>
  <a href="{{ post.url | prepend: site.baseurl_root }}" class="btn btn-sm btn-transparent pl-0">read more</a>
</article>
