---
layout : default
---
<div class='parent'>
  <div class="magicpattern3"></div>
</div>
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 mx-auto block mb-5">
        <h2>{{ page.title }}</h2>
        <div class="mb-3 post-meta">
          {{ page.author }},
          {{ page.date | date: '%b %d, %Y' }},
          {% if page.tags.size >= 1 %}
          {% for tag in page.tags %}
          <a href="{{ '/tag/' | prepend: site.baseurl_root }}{{ tag | slugify }}">{{ tag | capitalize }}</a>
          {% endfor %}
          {% endif %}
        </div>
        {% if page.image %}
        <!--<img src="{{ page.image | prepend: site.baseurl_root }}" class="img-fluid w-100 mb-4" alt="{{ page.title }}">-->
        {% endif %}
        <div class="content mb-5">
          {{ page.content }}
        </div>
        <!-- comments -->
        {% if site.disqus_shortname %}
          {% include disqus-comments.html %}
        {% endif %}
        <!-- /comments -->
      </div>
    </div>
  </div>
</section>